apps/fin/common/wsdl/CMN_BULKDATA_EXPORT_BPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="CMN_BULKDATA_EXPORT_BPEL" targetNamespace="http://xmlns.oracle.com/CPLotusSOA/CMN_BULKDATA_EXPORT_ERP/CMN_BULKDATA_EXPORT_BPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/CPLotusSOA/CMN_BULKDATA_EXPORT_ERP/CMN_BULKDATA_EXPORT_BPEL" xmlns:ns1="http://xmlns.CPLotus.com/schemas/common/ExportERPRequest" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://xmlns.CPLotus.com/schemas/common/ExportERPRequest" schemaLocation="oramds:/apps/fin/common/xsd/XSD_CMN_BULKDATA_EXPORT_ERP.xsd"/>
</schema>
</wsdl:types>
<wsdl:message name="CMN_BULKDATA_EXPORT_BPELRequestMessage">
<wsdl:part name="payload" element="ns1:BulkExportRequest"/>
</wsdl:message>
<wsdl:message name="CMN_BULKDATA_EXPORT_BPELResponseMessage">
<wsdl:part name="payload" element="ns1:BulkExportResponse"/>
</wsdl:message>
<wsdl:portType name="CMN_BULKDATA_EXPORT_BPEL">
<wsdl:operation name="ExportBulkDataRequest">
<wsdl:input message="client:CMN_BULKDATA_EXPORT_BPELRequestMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="CMN_BULKDATA_EXPORT_BPELCallback">
<wsdl:operation name="ExportBulkDataResponse">
<wsdl:input message="client:CMN_BULKDATA_EXPORT_BPELResponseMessage"/>
</wsdl:operation>
</wsdl:portType>
<plnk:partnerLinkType name="CMN_BULKDATA_EXPORT_BPEL">
<plnk:role name="CMN_BULKDATA_EXPORT_BPELProvider" portType="client:CMN_BULKDATA_EXPORT_BPEL"/>
<plnk:role name="CMN_BULKDATA_EXPORT_BPELRequester" portType="client:CMN_BULKDATA_EXPORT_BPELCallback"/>
</plnk:partnerLinkType>
</wsdl:definitions>
