apps/fin/common/wsdl/CMN_SEND_NOTIFICATION_BPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="CMN_SEND_NOTIFICATION_BPEL" targetNamespace="http://www.CPLotus.com/common/notificationservice" xmlns:tns="http://www.CPLotus.com/common/notificationservice" xmlns:inp1="http://www.CPLotus.com/schemas/common/notification" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.CPLotus.com/schemas/common/notification" schemaLocation="oramds:/apps/fin/common/xsd/XSD_CMN_NOTIFICATION.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="requestMessage">
<wsdl:part name="part" element="inp1:NotificationRequest"/>
</wsdl:message>
<wsdl:message name="callbackMessage">
<wsdl:part name="part" element="inp1:NotificationResponse"/>
</wsdl:message>
<wsdl:portType name="sendnotification_ptt">
<wsdl:operation name="sendnotification">
<wsdl:input message="tns:requestMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="sendnotification_callback_ptt">
<wsdl:operation name="callback">
<wsdl:input message="tns:callbackMessage"/>
</wsdl:operation>
</wsdl:portType>
</wsdl:definitions>
