apps/fin/common/wsdl/CMN_OUTBOUND_FILE_PROCESS_ERP_BPEL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="CMN_OUTBOUND_FILE_PROCESS_ERP_BPEL" targetNamespace="http://xmlns.oracle.com/SOA_Common/CMN_OUTBOUND_FILE_PROCESS_ERP/CMN_OUTBOUND_FILE_PROCESS_ERP_BPEL" xmlns:tns="http://xmlns.oracle.com/SOA_Common/CMN_OUTBOUND_FILE_PROCESS_ERP/CMN_OUTBOUND_FILE_PROCESS_ERP_BPEL" xmlns:inp1="http://www.CPLotus.com/schemas/common/FileTransformation" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://schemas.oracle.com/bpel/extension">
<plnk:partnerLinkType name="CMN_OUTBOUND_FILE_PROCESS_ERP_BPEL">
<plnk:role name="CMN_OUTBOUND_FILE_PROCESS_ERP_BPELProvider" portType="tns:CMN_OUTBOUND_FILE_PROCESS"/>
<plnk:role name="CMN_OUTBOUND_FILE_PROCESS_ERP_BPELRequestor" portType="tns:CMN_OUTBOUND_FILE_PROCESSCallback"/>
</plnk:partnerLinkType>
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.CPLotus.com/schemas/common/FileTransformation" schemaLocation="oramds:/apps/fin/common/xsd/XSD_CMN_OUTBOUND_FILE_PROCESS.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="requestMessage">
<wsdl:part name="payload" element="inp1:FileProcessRequest"/>
</wsdl:message>
<wsdl:message name="callbackMessage">
<wsdl:part name="payload" element="inp1:FileProcessResponse"/>
</wsdl:message>
<wsdl:portType name="CMN_OUTBOUND_FILE_PROCESS">
<wsdl:operation name="OutboundFileProcess">
<wsdl:input message="tns:requestMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="CMN_OUTBOUND_FILE_PROCESSCallback">
<wsdl:operation name="OutboundFileProcessResponse">
<wsdl:input message="tns:callbackMessage"/>
</wsdl:operation>
</wsdl:portType>
</wsdl:definitions>
